* {
  background-color: #06113C;
}

.App {
  text-align: center;
}

.toss_btn {
  margin-top: 40vh;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #DDDDDD;
  border: 60px solid #FF8C32;
  cursor: pointer;
  transition: border 1s;
  font-weight: 600;
  font-size: 20px;
  box-shadow: rgba(206, 206, 216, 0.849) 0px 7px 29px 0px;
}

.toss_btn:hover{
  background-color: #dddddd83;
  border: 0px solid #fa7611;
}



